
<div class="pub-cls">
  {{#each obj.data.locations}}
    <div class="obj-elem">
      <h3>{{name}}</h3>
      <a href="{{href}}">
        <img src="{{iconUrl}}" alt="{{alt}}"/>
      </a>
    </div>
    {{/each}}
</div>

